@tailwind base;
/* CUSTOM BASE STYLES  */
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/public-sans/PublicSans-Regular.woff2) format("woff2");
}
@font-face {
  font-family: 'Public Sans';
  font-style: italic;
  font-weight: 400;
  src: url(/fonts/public-sans/PublicSans-Italic.woff2) format("woff2");
}
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/public-sans/PublicSans-Bold.woff2) format("woff2");
}
@font-face {
  font-family: 'Public Sans';
  font-style: italic;
  font-weight: 700;
  src: url(/fonts/public-sans/PublicSans-BoldItalic.woff2) format("woff2");
}
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 900;
  src: url(/fonts/public-sans/PublicSans-Black.woff2) format("woff2");
}
/* END CUSTOM BASE STYLES  */
@tailwind components;
/* CUSTOM COMPONENTS  */

/* END CUSTOM COMPONENTS  */
@tailwind utilities;
/* CUSTOM UTILITIES  */

/* END CUSTOM UTILITIES  */

/* CUSTOM STYLES  */
/* purgecss start ignore */
.site-title {
  font-weight: 900;
  font-size: 12vw;
  background: repeating-linear-gradient(to top, #e82d0a 0% ,#e82d0a 22% ,#df3b7a 22% ,#df3b7a 26% ,#63092c 26% ,#63092c 30% ,#120b12 30% ,#120b12 34% ,#005b40 34% ,#005b40 45% ,#218d41 45% ,#218d41 46% ,#005b40 46% ,#005b40 47% ,#218d41 47% ,#218d41 51% ,#63092c 51% ,#63092c 55% ,#e82d0a 55% ,#e82d0a 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
/* purgecss end ignore */
/* END CUSTOM STYLES  */