@tailwind base;
/* CUSTOM BASE STYLES  */

/* END CUSTOM BASE STYLES  */
@tailwind components;
/* CUSTOM COMPONENTS  */

/* END CUSTOM COMPONENTS  */
@tailwind utilities;
/* CUSTOM UTILITIES  */

/* END CUSTOM UTILITIES  */

/* CUSTOM STYLES  */
/* purgecss start ignore */
.site-title {
  font-size: 13vw;
  background: repeating-linear-gradient(to top,  #e82d0a 0% ,#e82d0a 2% ,#df3b7a 2% ,#df3b7a 6% ,#e82d0a 6% ,#e82d0a 10% ,#df3b7a 10% ,#df3b7a 15% ,#63092c 15% ,#63092c 19% ,#120b12 19% ,#120b12 24% ,#005b40 24% ,#005b40 40% ,#218d41 40% ,#218d41 42% ,#005b40 42% ,#005b40 44% ,#218d41 44% ,#218d41 49% ,#63092c 49% ,#63092c 55% ,#e82d0a 55% ,#e82d0a 98% ,#df3b7a 98% ,#df3b7a 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.container {
  background-color: rgba(255,255,255,.9);
}
/* purgecss end ignore */
/* END CUSTOM STYLES  */