<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% if page.url != "/" %}{{ title }} – {% endif %}Tkackie Łódzkie</title>
  <link rel="stylesheet" href="/assets/main.css">
  <script type="text/javascript" src="/assets/main.js" defer></script>
</head>
<body class="font-serif bg-gray-200 text-gray-900">
  <header class="my-4">
    {% if page.url == "/" %}{% set h1or2 = "h1" %}{% else %}{% set h1or2 = "h2" %}{% endif %}
    <{{ h1or2 }} class="text-center leading-tight"><a class="site-title leading-tight block" href="/">Tkackie Łódzkie</a></{{ h1or2 }}>
  </header>
  <nav class="text-center lg:text-lg xl:text-xl px-4">
    <ul>
      {% for item in menu %}{%- set active = page.url.startsWith(item.url) -%}
      <li class="menu-item inline"><a href="{{ item.url }}" class="{{ "active " if active }} font-bold leading-loose tracking-wider uppercase outline-none">{{ item.title | safe }}</a></li>
      {% endfor %}
    </ul>
  </nav>
  <main class="text-2xl container max-w-4xl my-32">
    {% if page.url != "/" %}<h1 class="text-6xl uppercase font-bold mb-12">{{ title }}</h1>{% endif %}
    {{ content | cudzyslowy | sierotki | safe }}
  </main>
</body>
</html>