<nav class="text-center text-lg xl_text-xl px-4">
  <button id="menu-button" class="font-bold uppercase" aria-expanded="false">Menu</button>
  <ul id="menu" hidden>
    {% for item in menu %}
    <li class="relative menu-item"><a href="{% if item.url %}{{ item.url }}{% else %}#{% endif %}" class="font-bold leading-loose tracking-wider uppercase outline-none">{{ item.title | safe }}</a>
    {% if item.subpages %}
      <ul class="bg-gray-200 px-4 pb-2">
      {% for subpage in item.subpages %}
        <li class="my-1"><a href="{{ subpage.url }}" class="relative">{{ subpage.title | safe }}</a></li>
      {% endfor %}
      </ul>
    {% endif %}
    </li>
    {% endfor %}
  </ul>
</nav>